/*--------------------------------------------------
 common
--------------------------------------------------*/
* {
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

/*layout*/
div  .inner {
    /*width: 940px;*/
    widows: 100%;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

body {
    margin: 0;
}

/*--------------------------------------------------
to page top
--------------------------------------------------*/

#to_page_top {
    position: absolute;
    top: -50px;
    right: 0;
    width: 60px;
    height: 50px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.75); /*delete later*/
}

#to_page_top img {
    margin-top: 0;
    padding-top: 0;
}

#to_page_top a {
    display: block;
}


/*--------------------------------------------------
header
--------------------------------------------------*/
.header{
    background-color: #ffffff;
    position:relative;
}

.header .head_bar_wrapper {
    height: 30px;
    background-color: #000000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
}

.header .head_bar_wrapper .head_bar_inner {
    position: relative;
    height: 30px;
}
.header .head_bar_wrapper .head_bar_inner span {
    display: inline-block;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 30px;
    float:left;
}

.header .nav_wrapper {
    background-color: #e5e5e5;
}

.header h1 {
    padding: 15px 0;
}

.header .logo_wrapper .inner {
    position: relative;
}

.header .logo_wrapper .inner a.earth_view {
    position: absolute;
    right: 0;
    top: 22px;
}

.header .logo_wrapper .catchcopy{
    position:absolute;
    top:25px;
    left:245px;
    font-size:24px;
}

.header .nav_wrapper .nav_inner {
    position: relative;
    width: 300px;
    height: 40px;
    background-color: #e5e5e5;
}

.header .head_bar_wrapper .search_box {
    position: relative;
    right: 0;
    overflow: hidden;
    zoom: 1;
    float: right;
    width: 354px;
    color: #666666;
    font-size: 12px;
    background-color: #cccccc;
}

.header .head_bar_wrapper .search_box form {
    float: left;
    width: 350px;
    height: 30px;
}

.header .head_bar_wrapper .search_box form input[type="text"] {
    width: 350px;
    height: 23px;
    background-color: #cccccc;
    padding:2px 5px;
}

.header .head_bar_wrapper .search_box form input[type="image"] {
    position: relative;
    top: -22px;
    left: 330px;
}

.header .head_bar_wrapper .search_box > div,
table#font_box {
    float: left;
}

table#font_box {
    color: #fff;
    border-collapse: separate;
    border-spacing: 4px;
    margin: 0 10px;
}

table#font_box th {
    float: left;
    color: #666;
    padding: 2px 4px 0;
}

table#font_box td {
    text-align: center;
    vertical-align: middle;
    background-color: #666;
    padding: 0 4px;
}

table#font_box td a {

    color: #fff;
    text-decoration: none;
}

table#font_box td.changeBtn a.cb_s {
    font-size: 12px;
}

table#font_box td.changeBtn a.cb_m {
    font-size: 12px;
}

table#font_box td.changeBtn a.cb_l {
    font-size: 14px;
}

table#font_box td.active {
    background-color: #a14547;
    color: #fff;
    text-decoration: none;
}

.header .head_bar_wrapper .search_box > div {
    padding-top: 5px;
}

.header .nav_wrapper ul {
    float: left;
    margin: 0;
    padding: 0;
}

.header .nav_wrapper ul li {
    border-right: 1px dashed #cccccc;
    color: #000000;
    line-height: 1.6em;
    list-style-type: none;
    float: left;
    background-color:#fff;
    font-size: 12px;
    width: 100px;
    padding: 0 8px;
}

.header .nav_wrapper ul li:last-child {
    border-right: none;
}

.header .nav_wrapper ul li a {
    display: block;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}

.header .nav_wrapper ul li:hover,
.header .nav_wrapper ul li.active {
    background-color: #dae121;
}

.header .nav_wrapper ul li span {
    display: block;
    font-size: 12px;
}

.header .nav_wrapper .nav_inner p {
    float: left;
    margin: 0;
    background: #e0ebf5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OTljYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0ebf5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #e0ebf5 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ebf5', endColorstr='#ffffff', GradientType=1); /* IE6-8 */
}
body.post-type-archive-data .header .inner {
     padding: 0;
 }

.header .nav_wrapper ul ul.sub {
    float:none;
    margin: 0;
    padding: 0;
    position:absolute;
    z-index:10;
    display:none;
    height: 160px;
}

.header .nav_wrapper ul ul.sub li {
    float:none;
}

.header .nav_wrapper p.prev,
.header .nav_wrapper p.next {
    position: absolute;
    top: 30px;
    width: 7px;
    height: 27px;
    margin: 0;
    padding-top: 14px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 27px;
    background-color: #e5e5e5;
    z-index: 1;
}
.header .nav_wrapper p.prev {
    left: 0;
    border-right: 1px dashed #c0c0c0;
}
.header .nav_wrapper p.next {
    right: 0;
    border-left: 1px dashed #c0c0c0;
}


/*--------------------------------------------------
footer
--------------------------------------------------*/

.footer {
    background-color: #fff;
    height: 112px;
    margin-top: 30px;
}

.footer .footer_link_wrapper {
    position: relative;
    padding: 8px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    display: inline-block;
    list-style-type: none;
    border-right: 1px solid #666666;
}

.footer ul li:last-child {
    border-right: none;
}

.footer ul li a {
    padding: 0 8px 0 5px;
    font-size: 12px;
    color: #666666;
}

.footer ul li:first-child a {
    padding-left: 0;
}

.footer ul {
    width: 810px;
    float: left;
    margin: 16px 0;
}

.footer ul a:link {
    text-decoration: none;
}

.footer .footer_link_wrapper ul {
    width: auto;
    float: none;
    margin: 4px 0 20px;
}
.footer ul.sns_link {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    margin: 0;
    text-align: right;
}

.footer ul.sns_link li {
    width: 25px;
    text-align: center;
    border: none;
    margin-top:1px;
    position:relative;
}

.footer ul.sns_link li a{
    padding: 0 5px 0 0;
}

.footer ul.sns_link li.rss img{
    position:relative;
    top:-1px;
}

.footer p {
    margin: 0;
}

.foot_bar_wrapper {
    background-color: #e6e6e6;
}

.footer .foot_bar_inner {
    color: #999999;
    position: relative;
    padding: 0 8px 8px 8px;
}

.footer .foot_bar_inner .site_ttl {
    float: left;
    margin-top: 20px;
    font-weight: bold;
}

.footer .foot_bar_inner .copyright {
    float: right;
    margin-top: 14px;
    font-size: 12px;
    line-height: 16px;
}
.footer .foot_bar_inner .accenture {
    display: block;
    float: left;
    width: 100px;
    margin-left: 16px;
}
.footer .foot_bar_inner .accenture img {
    margin: 10px 0;
    text-align: left;
}
.footer .foot_bar_inner .labo {
    display: block;
    float: left;
}
.footer .foot_bar_inner .labo img {
    width: auto;
    height: 40px;
    margin: 10px 0;
    text-align: left;
}

.footer .foot_bar_inner img.open_yokohama {
    width: auto;
    height: 50px;
    margin: 5px 0;
    line-height: 40px;
    text-align: left;
    margin-left: 16px;
}

.footer .platoniq {
    position: absolute;
    bottom: 0;

}
.footer .platoniq a {
    text-decoration: none;
    color: #999999;
}



/*--------------------------------------------------
  topic_box
--------------------------------------------------*/
.topic_pic_wrapper .topic_pic_left .topic_box,
.topic_pic_wrapper .topic_pic_layout .topic_box {
    position:relative;
    width: 272px;
    margin-bottom: 8px;
    padding: 16px 16px 8px;
    background-color: #ffffff;
}

.topic_pic_wrapper .topic_pic_right .topic_box {
    padding-top: 8px;
    border-bottom: 1px dotted #cccccc;
}
.topic_box p.cat {
    margin-bottom: 8px;
    font-size: 15px;
}

.topic_box h2 a {
    display: block;
    font-size: 18px;
    line-height: 24px;
}



/*--------------------------------------------------
  sp--navigation
--------------------------------------------------*/
.viewport {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}
.flipsnap {
    width: 935px; /* 320px(item width) * 3(item count) */
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

body.project-show div#sub-header div.project-menu.viewport_projectnav {
    width: 300px!important;
    margin: 0 auto;
    overflow: hidden;
    background-color: #e7e7e7;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav {
    width: 1008px!important;/* 117px(item width) * 4(item count) + 116px */
}

body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav .item {
    float: left;
    /*width: 110px!important;*/
    border: none;
    border-right: 1px dashed #cccccc;
/*    font-size: 50px;
    text-align: center;
    padding: 50px 0;
    background: #EFEFEF;
    border: 5px solid #999;
    color: #666;*/
}
body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav .item a {
    /*width: 94px!important;*/
    margin: 0 auto;
}

/*--------------------------------------------------
  index
--------------------------------------------------*/
.contents_wrapper {
    width: 100%;
    /*padding: 4px;*/
    margin: 0 auto 0;
}

/*----- widget for sp -----*/
.project_view .project_box iframe {
    width: 304px;
}

/*.project_view body.project-embed > div#wrapper > div.alone-project > div.widget.project {
    width: 304px;
}*/
/*.project_view .body.project-embed {
    width: 310px!important;
}
.project_view .project-embed > div#wrapper > div.alone-project {
    width: 310px;
}
.project_view .project-embed > div#wrapper > div.alone-project > div.widget.project {
    width: 310px;
}
*/


/*--------------------------------------------------
page
--------------------------------------------------*/

body.page .static_page {
    background-color: #fff;
    padding: 20px 0;
}

body.page .static_page h1 {
    font-size: x-large;
    margin: 0 8px 0;
}

body.page .static_page .content {
    margin: 8px;
}

/*--------------------------------------------------
earth_view
--------------------------------------------------*/
body.page .earth_view .list_pic {
    margin: 0 0 30px 0;
    background-color: #fff;
}

body.page .earth_view .area_wrapper_title{
    position: relative;
    margin: 0;
    padding-left: 40px;
    color: #00a0ca;
    font-size: 16px;
    font-weight: bolder;
    line-height: 70px;
    background: url('images/cnt_ttl_bk.png') #ffffff no-repeat 20px 48%;
    border-bottom: 1px dashed #cccccc;
    margin: 0;
}

body.page .earth_view .area_wrapper.cf{
    position: relative;
    bottom: -10px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px 8px;
}

body.page .earth_view .area_wrapper.cf img {
    width: 280px;
    height: 300px;
    padding: 10px 0;
}

body.page .earth_view .area_wrapper{
    position: relative;
    bottom: -10px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px;
}

body.page .earth_view .area_wrapper > table {
    width: 304px;
}

body.page .earth_view .area_desc{
    float:left;
    width:510px;
    margin: 20px 20px 0 0;
    padding-left: 40px;
    font-size: 14px;
}

body.page .earth_view .theme_box{
    padding:0 0 0 0;
    font-size: 14px;
}


body.page .earth_view .area_list{
    float:left;
    width:370px;
    /*margin-bottom: 20px;*/
}

body.page .earth_view .area_list img{
    width: 350px;
    height: auto;
}

body.page .earth_view .area_list td{
    padding:0 20px 5px;
    font-size:20px;
}

body.page .earth_view .key_visual {
    padding: 0 0 30px;
    background-color: inherit;
}

body.page .earth_view .area_wrapper ul{
    overflow: hidden;
    zoom:1;
    padding-left: 0;
    list-style-type: none;
}

body.page .earth_view .area_wrapper li{
    float:left;
    width:200px;
    padding:7px 0 7px 20px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bolder;
    background:url('images/arrow_circle_r.png') no-repeat left 50%;
}
body.page .earth_view .area_wrapper ul li a:link,
body.page .earth_view .area_wrapper ul li a:visited {
    color: #666666;
}


/*--------------------------------------------------
  tax-project_area
--------------------------------------------------*/


body.tax-project_area .archive_all {
    width: 302px;
    padding: 4px 4px 20px 4px;
    background-color: #fff;
    margin-bottom: 30px;
}

body.tax-project_area .archive_all .post_title {
    /*padding: 0 8px;*/
}


body.tax-project_area #social_bookmark {
    margin: 0 0 20px 0;
}


body.tax-project_area #social_bookmark div#twitter {
    float: left;
    width: 90px;
}

body.tax-project_area #social_bookmark div#facebook {
    float: left;
    margin: 0 5px 0 0;
}

body.tax-project_area .archive_all p {
    margin: 0 0 1em 0;    
}


/*project-area下層*/

body.tax-project_area .list_pic_wrapper {
    width: 304px;
    padding: 0 4px;
    margin: 0 0 30px 0;
}

body.tax-project_area .list_pic_wrapper .list_pic {
    background-color: #fff;
}

body.tax-project_area .list_pic_wrapper .list_pic .list_pic_layout {
    padding: 4px 4px 0 4px;
}

body.tax-project_area .list_pic_wrapper .list_box {
    border-bottom: 1px dashed #cccccc;

}


body.tax-project_area .list_pic_wrapper .list_box .list_inner {
    margin: 20px 8px;
}

body.tax-project_area .list_pic_wrapper .list_pic .list_pic_layout h2.group_title {
    margin: 20px 0;
    padding: 0 0 8px 30px;
    color: #00a0ca;
    font-size: 16px;
    font-weight: bolder;
    font-size: 20px;
    background: url('images/cnt_ttl_bk.png') #ffffff no-repeat 0.1em 0.4em;
    border-bottom: 1px dashed #cccccc;
}

body.tax-project_area .list_pic_wrapper h2.title {
    font-size: large;
}

body.tax-project_area .list_pic_wrapper .list_pic .list_box .date {
    color: #666666;
    font-size: 12px;
}

body.tax-project_area .contents_wrapper .key_topic_box {
    width: 304px;
    margin: 0 0 30px 0;
    background-color: #fff;
}

body.tax-project_area .contents_wrapper .key_topic_box .topic_box {
    padding: 20px 8px;
}


/*--------------------------------------------------
  category-local_good_player
--------------------------------------------------*/


body.category-local_good_player .list_pic_wrapper {
    width: 304px;
    padding: 0 4px;
    margin: 0 0 30px 0;
    background-color: #fff;
}

body.category-local_good_player .list_pic_wrapper .list_box {
    border-bottom: 1px dashed #cccccc;
    margin-bottom: 20px;
}

body.category-local_good_player .list_pic_wrapper .list_box .list_inner {
    margin: 30px 8px;
}


body.category-local_good_player .list_pic_wrapper h2.group_title {
    position: relative;
    margin: 0;
    padding-left: 40px;
    color: #00a0ca;
    font-size: 16px;
    font-weight: bolder;
    line-height: 70px;
    background: url('images/cnt_ttl_bk.png') #ffffff no-repeat 20px 48%;
    border-bottom: 1px dashed #cccccc;
    margin: 0;
}

body.category-local_good_player .list_pic_wrapper h2.title {
    font-size: large;
}

body.category-local_good_player .list_pic_wrapper p.excerpt {
    font-size: small;
}


/*--------------------------------------------------
  sigle
--------------------------------------------------*/


body.single .single_left .eyecatch img {
    width: 308px;
    height: 204px;   
}

body.single .single_left .post_title { 
    background-color: #fff;
    padding: 10px;
}

body.single .single_left .post_title h1 { 
    font-size: large;
}

body.single .single_left .post_body { 
    background-color: #fff;
}

body.single .single_left .post_body img{
    width: 100%;
    height: auto;
}



/*--------------------------------------------------
   wrapper_base
--------------------------------------------------*/

.contents_wrapper {
    position: relative;
    height: auto;
    background-color: #f5f3f0;
    padding-bottom: 20px;
}

/*--------------------------------------------------
    #social_bookmark
--------------------------------------------------*/
#social_bookmark {
    margin: 0 25px 15px 0;
}

#social_bookmark #facebook {
    float: left;
    width: 100px;
    overflow: hidden;
    margin-right: 10px;
}

#social_bookmark #twitter {
    float: left;
    width: 100px;
}

#social_bookmark #___plusone_0 {
    width: 70px !important;
}

body.home #social_bookmark {
    float:left;
    width:330px;
    margin:4px 10px 0 30px;
}


/*--------------------------------------------------
   for only GOTEO
--------------------------------------------------*/

div#sub-header {
    margin-bottom: 1px;
}



