/*--------------------------------------------------
 common
--------------------------------------------------*/
* {
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

/*layout*/
div  .inner {
    widows: 100%;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

body {
    margin: 0;
}


/*--------------------------------------------------
header
--------------------------------------------------*/
.header{
    background-color: #ffffff;
    position:relative;
}

.header .head_bar_wrapper {
    height: 30px;
    background-color: #000000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
}

.header .head_bar_wrapper .head_bar_inner {
    position: relative;
    height: 30px;
}
.header .head_bar_wrapper .head_bar_inner span {
    display: inline-block;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 30px;
    float:left;
}

.header .nav_wrapper {
    background-color: #e5e5e5;
}

.header h1 {
    padding: 15px 0;
}

.header .logo_wrapper .inner {
    position: relative;
}

.header .logo_wrapper .inner a.earth_view {
    position: absolute;
    right: 0;
    top: 22px;
}

.header .logo_wrapper .catchcopy{
    position:absolute;
    top:25px;
    left:245px;
    font-size:24px;
}

.header .nav_wrapper .nav_inner {
    position: relative;
    width: 320px;
    height: 40px;
    background-color: #e5e5e5;
}

.header .nav_wrapper ul {
    float: left;
    margin: 0;
    padding: 0;
}

.header .nav_wrapper ul li {
    border-right: 1px dashed #cccccc;
    color: #000000;
    line-height: 1.6em;
    list-style-type: none;
    float: left;
    background-color:#fff;
    font-size: 12px;
    padding: 0 16px;
}

.header .nav_wrapper ul li:last-child {
    border-right: none;
}

.header .nav_wrapper ul li a {
    display: block;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}

.header .nav_wrapper ul li:hover,
.header .nav_wrapper ul li.active {
    background-color: #dae121;
}

.header .nav_wrapper ul li span {
    display: block;
    font-size: 12px;
}

.header .nav_wrapper .nav_inner p {
    float: left;
    margin: 0;
    background: #e0ebf5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OTljYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0ebf5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #e0ebf5 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ebf5', endColorstr='#ffffff', GradientType=1); /* IE6-8 */
}

body.post-type-archive-data .header .inner {
     padding: 0;
}

.header .nav_wrapper ul ul.sub {
    float:none;
    margin: 0;
    padding: 0;
    position:absolute;
    z-index:10;
    display:none;
    height: 160px;
}

.header .nav_wrapper ul ul.sub li {
    float:none;
}


/*--------------------------------------------------
footer
--------------------------------------------------*/
.footer {
    background-color: #fff;
    margin-top: 30px;
}

.footer .footer_link_wrapper {
    position: relative;
    padding: 8px;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    display: inline-block;
    list-style-type: none;
}

.footer ul li:last-child {
    border-right: none;
}

.footer ul li a {
    padding: 0 8px 0 0;
    font-size: 11px;
    color: #666666;
}

.footer ul li:first-child a {
    padding-left: 0;
}

.footer ul {
    width: 810px;
    float: left;
    margin: 16px 0;
}

.footer ul a:link {
    text-decoration: none;
}

.footer .footer_link_wrapper ul {
    width: auto;
    float: none;
    margin: 0;
}
.footer p {
    position: relative;
    margin: 0;
}

.foot_bar_wrapper {
    background-color: #e6e6e6;
}

.footer .foot_bar_inner {
    overflow: hidden;
    width: 240px;
    margin: 0 auto;
    color: #999999;
}
.footer .foot_bar_inner .site_ttl {
    float: left;
    margin-top: 20px;
    font-weight: bold;
}

.footer .copyright {
    float: right;
    width: 100%;
    margin-top: 16px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

.footer .foot_bar_inner .accenture {
    display: block;
    float: left;
    margin-left: 16px;
}
.footer .foot_bar_inner .accenture img {
    width: auto;
    height: 33px;
    margin: 10px 0;
    text-align: left;
}
.footer .foot_bar_inner .labo {
    display: block;
    float: left;
}
.footer .foot_bar_inner .labo img {
    width: auto;
    height: 33px;
    margin: 10px 0;
    text-align: left;
}
.footer .foot_bar_inner img.open_yokohama {
    width: auto;
    height: 33px;
    margin: 10px 0;
    line-height: 40px;
    text-align: left;
    margin-left: 16px;
}

.footer .platoniq {
    position: absolute;
    bottom: 18px;
    width: 100%;
    text-align: center;
}
.footer .platoniq a {
    text-decoration: none;
    color: #666666;
    font-size: 12px;
}


/*--------------------------------------------------
  sp--flipsnap.js
--------------------------------------------------*/
.viewport,
.viewport_projectnav,
.viewport_dashboard{
    width: 320px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

.flipsnap:after,
.flipsnap_projectnav:after,
.flipsnap_dashboard:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
}

/* navigation */
.flipsnap {
    width: 1130px; /* 320px(item width) * 3(item count) */
}

/* project-navigation */
body.project-show div#sub-header div.project-menu.viewport_projectnav {
    background-color: #e7e7e7;
}

body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav {
    width: 1008px!important;/* 117px(item width) * 4(item count) + 116px */
}

body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav .item {
    float: left;
    border: none;
    border-right: 1px dashed #cccccc;
    color: #666;*/
}
body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav .item:last-child {
    border-right: none;
}

body.project-show div#sub-header div.project-menu.viewport_projectnav .flipsnap_projectnav .item a {
    margin: 0 auto;
}

/* dashboard navigation */
body.dashboard.project-edit div#dashboard-menu div.viewport_dashboard .flipsnap_dashboard {
    width: 1008px;/* 117px(item width) * 4(item count) + 116px */
}
body.dashboard.project-edit div#dashboard-menu div.viewport_dashboard .flipsnap_dashboard li.option {
    float: left;
    height: 28px;
    padding: 4px 8px;
    border: none;
    color: #666;
}
body.dashboard.project-edit div#dashboard-menu div.viewport_dashboard .flipsnap_dashboard li.option a {
    height: 18px;
    line-height: 35px;
}


/*--------------------------------------------------
  index
--------------------------------------------------*/
.contents_wrapper {
    width: 100%;
    margin: 0 auto 0;
}

/*----- widget for sp -----*/
.project_view .project_box iframe {
    width: 304px;
}


/*--------------------------------------------------
page
--------------------------------------------------*/
body.page .static_page {
    background-color: #fff;
    padding: 20px 0;
}

body.page .static_page h1 {
    font-size: x-large;
    margin: 0 8px 0;
}

body.page .static_page .content {
    margin: 8px;
}


/*--------------------------------------------------
   wrapper_base
--------------------------------------------------*/
.contents_wrapper {
    position: relative;
    height: auto;
    background-color: #f5f3f0;
    padding-bottom: 20px;
}

