/*--------------------------------------------------
    goteo_top(activity) , user/profile
--------------------------------------------------*/
div.widget.project div.meter > h3.ronda {
    color:#999900;
    position:absolute;
    top:4px;
    right:16px;
    text-transform: lowercase;
}

div.widget.project div.meter.activable {
    z-index: 999;
    padding-left: 16px!important;
    padding-right: 16px!important;
    max-width: 288px;
}
div.widget.project div.meter {
    padding: 4px 0 78px !important;
    position: relative;
    height: 20px;
}
body.home div.widget.project div.meter dl dt.minimum,
body.user-profile div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: 0;
    left: 0;
    color: #cc6600;
    width: 96px;
    text-align: center;
}
body.home div.widget.project div.meter dl dd.minimum,
body.user-profile div.widget.project div.meter dl dd.minimum {
    position: relative;
    font-size: 14px;
    width: 96px;
    text-align: center;
    top: -66px;
    left: 0;
    color: #cc6600;
}
body.home div.widget.project div.meter dl dt.optimum,
body.user-profile div.widget.project div.meter dl dt.optimum {
    position: absolute;
    top: 0;
    left: 96px;
    width: 96px;
    text-align: center;
}


body.home div.widget.project div.meter dl dd.optimum,
body.user-profile div.widget.project div.meter dl dd.optimum{
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: -16px;
    padding-top: 28px;
    left: 93px;
    width: 93px;
    text-align: center;
    height: 50px;
    border-left: 1px solid #eee;
}
body.user-profile div.widget.project div.meter dl dd.optimum {
    left: 96px;
    width: 96px;
    padding-top: 35px;
}
body.home div.widget.project div.meter dl dt.days,
body.user-profile div.widget.project div.meter dl dt.days{
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    text-align: center;
}
body.home div.widget.project div.meter dl dd.days,
body.user-profile div.widget.project div.meter dl dd.days{
    position: absolute;
    top: -16px;
    right: 0px;
    width: 96px;
    text-align: center;
    font-size: 14px;
    height: 50px;
    padding-top: 28px;
    border-left: 1px solid #eee;
}
body.user-profile div.widget.project div.meter dl dd.days {
    padding-top: 35px;
}
body.home div.widget.project div.meter dl dd.days strong,
body.user-profile div.widget.project div.meter dl dd.days strong {
    color: #996666;
}

