/*--------------------------------------------------
 common
--------------------------------------------------*/
* {
    font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', 'メイリオ', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

/*layout*/
div  .inner {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}


/*--------------------------------------------------
to page top
--------------------------------------------------*/

#to_page_top {
    position: absolute;
    top: -50px;
    right: 0;
    width: 60px;
    height: 50px;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.75); /*delete later*/
}

#to_page_top img {
    margin-top: 0;
    padding-top: 0;
}

#to_page_top a {
    display: block;
}


/*--------------------------------------------------
header
--------------------------------------------------*/
.header{
    background-color: #ffffff;
    position:relative;
}

.header .head_bar_wrapper {
    height: 30px;
    background-color: #000000;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
}

.header .head_bar_wrapper .head_bar_inner {
    position: relative;
    width: 960px;
    height: 30px;
    margin: 0 auto;
}
.header .head_bar_wrapper .head_bar_inner span {
    display: inline-block;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 30px;
    float:left;
}
.header .logo_wrapper {
    padding-bottom: 5px;
    background: url('/view/css/header/head_bk.png') repeat-x left bottom;
}

.header h1 {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
}
.header .logo_wrapper .inner {
    position: relative;
}
.header .logo_wrapper .inner a.earth_view {
    position: absolute;
    right: 0;
    top: 22px;
}

.header .logo_wrapper .catchcopy{
    position:absolute;
    top:25px;
    left:245px;
    font-size:24px;
}

.header .nav_wrapper .nav_inner {
    width: 960px;
    height: 60px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.header .head_bar_wrapper .search_box {
    position: relative;
    right: 0;
    overflow: hidden;
    zoom: 1;
    float: right;
    width: 354px;
    color: #666666;
    font-size: 12px;
    background-color: #cccccc;
}

.header .head_bar_wrapper .search_box form {
    float: left;
    width: 350px;
    height: 30px;
}

.header .head_bar_wrapper .search_box form input[type="text"] {
    width: 350px;
    height: 23px;
    background-color: #cccccc;
    padding:2px 5px;
}

.header .head_bar_wrapper .search_box form input[type="image"] {
    position: relative;
    top: -22px;
    left: 330px;
}

.header .head_bar_wrapper .search_box > div,
table#font_box {
    float: left;
}

table#font_box {
    color: #fff;
    border-collapse: separate;
    border-spacing: 4px;
    margin: 0 10px;
}

table#font_box th {
    float: left;
    color: #666;
    padding: 2px 4px 0;
}

table#font_box td {
    text-align: center;
    vertical-align: middle;
    background-color: #666;
    padding: 0 4px;
}

table#font_box td a {

    color: #fff;
    text-decoration: none;
}

table#font_box td.changeBtn a.cb_s {
    font-size: 12px;
}

table#font_box td.changeBtn a.cb_m {
    font-size: 12px;
}

table#font_box td.changeBtn a.cb_l {
    font-size: 14px;
}

table#font_box td.active {
    background-color: #a14547;
    color: #fff;
    text-decoration: none;
}

.header .head_bar_wrapper .search_box > div {
    padding-top: 5px;
}

.header .nav_wrapper ul {
    float: left;
    margin: 0;
    padding: 0;
}

.header .nav_wrapper ul li {
    border-right: 1px dashed #cccccc;
    color: #000000;
    line-height: 1.6em;
    list-style-type: none;
    width: 190px;
    float: left;
    background-color:#fff;
}

.header .nav_wrapper ul li:last-child {
    width: 191px;
    border-right: none;
}

.header .nav_wrapper ul li ul li {
    border-right: none;
    width: 191px;
}

.header .nav_wrapper ul li a {
    display: block;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
}

/*.header .nav_wrapper .earth_view a {*/
    /*padding-left: 30px;*/
    /*background: url('images/earth_view_bk.png') no-repeat 25px 24px;*/
/*}*/

/*.header .nav_wrapper .earth_view a:link {*/
    /*color: #336699;*/
/*}*/

.header .nav_wrapper ul li:hover,
.header .nav_wrapper ul li.active {
    background-color: #dae121;
}

.header .nav_wrapper ul li span {
    display: block;
    font-size: 12px;
}

.header .nav_wrapper .nav_inner p {
    float: left;
    margin: 0;
    background: #e0ebf5; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2OTljYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e0ebf5), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #e0ebf5 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to right, #e0ebf5 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ebf5', endColorstr='#ffffff', GradientType=1); /* IE6-8 */
}
body.post-type-archive-data .header .inner {
     padding: 0;
 }

.header .nav_wrapper ul ul.sub {
    float:none;
    margin: 0;
    padding: 0;
    position:absolute;
    z-index:10;
    display:none;
}

.header .nav_wrapper ul ul.sub li {
    float:none;
}


/*--------------------------------------------------
footer
--------------------------------------------------*/

.footer {
    height: 116px;
    margin-top: 80px;
    background-color: #fff;
}

.footer .footer_link_wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    display: inline-block;
    list-style-type: none;
}

.footer ul li {
    border-right: 1px solid #666666;
}

.footer ul li:last-child {
    border-right: none;
}

.footer ul li a {
    padding: 0 8px 0 5px;
    font-size: 12px;
    color: #666666;
}

.footer ul li:first-child a {
    padding-left: 0;
}

.footer ul {
    width: 810px;
    float: left;
    margin: 16px 0;
}

.footer ul a:link {
    text-decoration: none;
}

.footer ul.sns_link {
    width: 120px;
    float: right;
}

.footer ul.sns_link li {
    width: 25px;
    text-align: center;
    border: none;
    margin-top:1px;
    position:relative;
}

.footer ul.sns_link li a{
    padding: 0 5px 0 0;
}

.footer ul.sns_link li.rss img{
    position:relative;
    top:-1px;
}

.footer p {
    margin: 0;
}

.foot_bar_wrapper {
    background-color: #e6e6e6;
}

.foot_bar_wrapper .foot_bar_inner {
    width: 940px;
    margin: 0 auto;
}

.footer .foot_bar_inner {
    color: #999999;
    position: relative;
}

.footer .foot_bar_inner .site_ttl {
    float: left;
    margin-top: 20px;
    font-weight: bold;
}

.footer .foot_bar_inner .copyright {
    float: right;
    margin-top: 14px;
    font-size: 12px;
}
.footer .foot_bar_inner .accenture {
    display: block;
    float: left;
    width: 100px;
    margin-left:30px;
}
.footer .foot_bar_inner .accenture img {
    margin: 14px 0 10px;
    text-align: left;
}
.footer .foot_bar_inner .labo {
    display: block;
    float: left;
}
.footer .foot_bar_inner .labo img {
    width: auto;
    height: 40px;
    margin: 10px 0;
    text-align: left;
}

.footer .foot_bar_inner img.open_yokohama {
    width: auto;
    height: 50px;
    margin: 5px 0;
    margin-left: 30px;
    line-height: 40px;
    text-align: left;
}

.footer .platoniq {
    position: absolute;
    right: 0;
    top: 32px;
}
.footer .platoniq a {
    text-decoration: none;
    color: #999999;
}

/*--------------------------------------------------
   wrapper_base
--------------------------------------------------*/

.contents_wrapper {
    position: relative;
    height: auto;
    background-color: #f5f3f0;
    padding-bottom: 20px;
}

/*--------------------------------------------------
    #social_bookmark
--------------------------------------------------*/
#social_bookmark {
    margin: 0 25px 15px 0;
}

#social_bookmark #facebook {
    float: left;
    width: 100px;
    overflow: hidden;
    margin-right: 10px;
}

#social_bookmark #twitter {
    float: left;
    width: 100px;
}

#social_bookmark #___plusone_0 {
    width: 70px !important;
}

body.home #social_bookmark {
    float:left;
    width:330px;
    margin:4px 10px 0 30px;
}


/*--------------------------------------------------
   for only GOTEO
--------------------------------------------------*/

div#sub-header {
    margin-bottom: 12px;
}