.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/** pagination **/
ul#pagination {
    list-style:none;
    float:left;
    margin: 0px;
    padding:0px;
}
ul#pagination li {
    display:inline;
    margin: 0 6px 0 0;
    background: white;
    width: auto;
    float: left;
    text-align: center;
    -moz-box-shadow: 3px 3px 0px #E2E2E2;
    -webkit-box-shadow: 3px 3px 0px #E2E2E2;
    box-shadow: 3px 3px 0px #E2E2E2;
}
ul#pagination li.selected {
    background:#cde4e5;
    font-weight:bold;
    padding: 6px 20px;
}
ul#pagination li.hellip {
    padding: 6px 20px;
}
ul#pagination li a {
    display: block;
    padding: 6px 20px;
    text-decoration:none;
    font-weight:bold;
}
ul#pagination li a:hover {
    background:#F3F3F3;
}
/** end of pagination **/

/* = caja de comentarios
*************************/
div.widget.blog-comment{position:relative;}
div.widget.blog-comment button.green{float:right;
    margin-top: 25px;
    margin-bottom: 5px;
}
div.widget.blog-comment div#bocadillo{background:url('/view/css/bocadillo.jpg') no-repeat;position:absolute;width: 50px;	height: 50px;
    margin-top: 8px;
}

/* = enlace para volver arriba
*******************************/
a.up{display:inline-block;padding-left:15px;margin-left:18px; background:url('/view/css/arrow-up3.png') no-repeat left; line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    color: #9f9f9f;
    margin-bottom: 40px;
}
a.up:hover{background:url('/view/css/arrow-up.png') no-repeat left;
    color: #20b3b2;
}


/*--------------------------------------------------
 button
--------------------------------------------------*/
input.red[type="submit"],
input.red[type="reset"],
button.red,
a.button.red,
input.edit[type="submit"] {
    background: none;
    background: #b5161e;
    background: -moz-linear-gradient(top, #ea2f2c 0%, #b5161e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea2f2c), color-stop(100%,#b5161e));
    background: -webkit-linear-gradient(top, #ea2f2c 0%,#b5161e 100%);
    background: -o-linear-gradient(top, #ea2f2c 0%,#b5161e 100%);
    background: -ms-linear-gradient(top, #ea2f2c 0%,#b5161e 100%);
    background: linear-gradient(to bottom, #ea2f2c 0%,#b5161e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2f2c', endColorstr='#b5161e',GradientType=0 );
}

input[type="submit"],
input[type="reset"],
button, a.button {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: none;
    background: #66cc99;
    background: -moz-linear-gradient(top, #66cc99 0%, #339966 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc99), color-stop(100%, #339966));
    background: -webkit-linear-gradient(top, #66cc99 0%, #339966 100%);
    background: -o-linear-gradient(top, #66cc99 0%, #339966 100%);
    background: -ms-linear-gradient(top, #66cc99 0%, #339966 100%);
    background: linear-gradient(to bottom, #66cc99 0%, #339966 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc99', endColorstr='#339966', GradientType=0);
}
div.widget.project-support a.button:hover, div.widget.project-rewards a.button:hover div.widget.project-rewards-summary a.button:hover, div.widget.project-summary a.button:hover {
    background: #f2bb67;
    background: -moz-linear-gradient(top, #ff9900 0%, #f2bb67 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9900), color-stop(100%,#f2bb67));
    background: -webkit-linear-gradient(top, #ff9900 0%,#f2bb67 100%);
    background: -o-linear-gradient(top, #ff9900 0%,#f2bb67 100%);
    background: -ms-linear-gradient(top, #ff9900 0%,#f2bb67 100%);
    background: linear-gradient(to bottom, #ff9900 0%,#f2bb67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f2bb67',GradientType=0 );
}

div.side div.widget.project-support a.button,
div.side div.widget.project-rewards a.button,
div.center div.widget.project-rewards-summary a.button {
    width: 182px;
    padding-left: 8px!important;
    padding-right: 8px!important;
}
div.side div.widget.project-support a.button, div.side div.widget.project-collaborations a.button, div.side div.widget.user a.button, div.side div.widget.project-rewards a.button, div.project-preview div.widget a.button {
    width: 160px;
    margin: 10px auto;
    display: block;
}
div.side div.widget.project-support a.button, div.side div.widget.project-collaborations a.button, div.side div.widget.user a.button, div.project-preview div.widget a.button, div.side div.widget.project-rewards a.button, div.center div.widget.project-rewards-summary a.button {
    height: 30px;
    line-height: 30px;
}