body.home .contents_wrapper{
    padding-top:20px;
}

body.home div.widget.projects h2.title {
    margin-bottom: 20px;
}

body.home div#main div.widget.projects h3.title{
	margin-left:3px;
}

body.home div#main div.widget.projects{
	padding:15px 0 0 75px;
}

body.home div#main div.widget.projects div.widget.project{
	padding:0;
	margin: 0 40px 42px 0;
}

body.home div#main div.projects {
    overflow: hidden;
    margin-left: -3%;
    margin-bottom: 15px;
}

body.home div#main div.block.projects {
    margin-left: 0;
}


/* social social_bookmark */
body.home #social_bookmark {
    float:left;
    width:350px;
}

