/*widget embed code for wordpress side(only mobile)*/
body.project-embed.sp div.widget.project div.meter.activable {
    margin: 0!important;
    border-top: none;
}

body.project-embed.sp div.widget.project div.meter dl .minimum,
body.project-embed.sp div.widget.project div.meter dl .optimum {
    line-height: normal;
}

body.project-embed.sp div.widget.project div.meter dl dt.optimum {
    position: absolute;
    top: 0;
    left: 93px;
    width: 93px;
    margin-top: 0;
    text-align: center;
}

body.project-embed.sp div.widget.project div.meter dl dd.optimum {
    float: none;
    position: relative;
    top: -16px;
    left: 93px;
    width: 93px;
    padding-top: 28px;
    height: 30px;
    border-left: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

body.project-embed.sp div.widget.project div.meter dl dd.optimum span {
    right: 0;
    bottom: 2px;
    margin-left: 0;

}

body.project-embed.sp div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: 0;
    left: 0;
    color: #cc6600;
    width: 93px;
    text-align: center;
}

body.project-embed.sp div.widget.project div.meter dl dt.minimum span {
    display: inline;
    position: static;
    bottom: 2px;
    width: auto;
}

body.project-embed.sp div.widget.project div.meter dl .minimum span {
    margin-right: 0;
}

body.project-embed.sp div.widget.project div.meter dl dd.minimum {
    position: relative;
    font-size: 14px;
    width: 93px;
    text-align: center;
    top: -46px;
    left: 0;
    color: #cc6600;
}

body.project-embed.sp div.widget.project div.meter dl dd.minimum strong {
    display: inline;
    position: static;
    margin-right: 0;
}
body.project-embed.sp div.widget.project div.meter dl dd.minimum span {
    display: inline;
    position: static;
    width: auto;
    bottom: 1px;
}

body.project-embed.sp div.widget.project div.meter dl dt.days {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    width: 93px;
    padding: 0;
    text-align: center;
    font-weight: normal;
    border-top: none;
}

body.project-embed.sp div.widget.project div.meter dl dd.days{
    position: absolute;
    top: -16px;
    left: 190px;
    width: 93px;
    text-align: center;
    font-size: 14px;
    height: 30px;
    padding-top: 28px;
    padding-bottom: 0;
    padding-left: 0;
    border-left: 1px solid #eee;
    border-top: none;
}

body.project-embed.sp div.widget.project div.meter dl dd.days strong {
    color: #996666;
}

body.project-embed.sp div.widget.project div.meter dl dd.days span {
    color: #58595b;
    font-weight: normal;
    font-size: 12px;
    position: relative;
    bottom: -1px;
}


div.widget.project div.meter > h3.ronda {
    color:#999900;
    position:absolute;
    top:4px;
    right:16px;
    text-transform: lowercase;
}

div.widget.project div.meter.activable {
    z-index: 999;
    /*padding-left: 16px!important;
    padding-right: 16px!important;*/
    max-width: 288px;
}

div.widget.project div.rewards {
    border-top: 1px solid #d1d3d4;
    padding: 4px 0 0 !important;
    position: relative;
    margin: 0 0 8px !important;
    height: 22px;
    overflow: hidden;
}

div.widget.project div.meter {
    padding: 4px 0 78px !important;
    position: relative;
    height: 40px;
}
body.home div.widget.project div.meter dl dt.minimum,
body.user-profile div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: 0;
    left: 0;
    color: #cc6600;
    width: 96px;
    text-align: center;
}
body.home div.widget.project div.meter dl dd.minimum,
body.user-profile div.widget.project div.meter dl dd.minimum {
    position: relative;
    font-size: 14px;
    width: 96px;
    text-align: center;
    top: -66px;
    left: 0;
    color: #cc6600;
}

body.user-profile div.widget.project div.meter dl dd.optimum {
    left: 96px;
    width: 96px;
    padding-top: 35px;
}
body.home div.widget.project div.meter dl dt.days,
body.user-profile div.widget.project div.meter dl dt.days{
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    width: 96px;
    text-align: center;
}
body.home div.widget.project div.meter dl dd.days,
body.user-profile div.widget.project div.meter dl dd.days{
    position: absolute;
    top: -16px;
    right: 0px;
    width: 96px;
    text-align: center;
    font-size: 14px;
    height: 50px;
    padding-top: 28px;
    border-left: 1px solid #eee;
}
body.user-profile div.widget.project div.meter dl dd.days {
    padding-top: 35px;
}
body.home div.widget.project div.meter dl dd.days strong,
body.user-profile div.widget.project div.meter dl dd.days strong {
    color: #996666;
}

div.widget.project div.meter div.obtained {
    display: none;
    position: relative;
    top: -100px;
    text-align: center;
}
div.widget.project div.meter div.obtained strong {
    font-size: 24px;
    font-weight: bold;
    color: #cc6600;
    padding-right: 20px;
    border-right: 1px solid #a7a9ac;
}
div.widget.project div.meter.active h3.title.obtained,
div.widget.project div.meter.active div.obtained {
    display: block !important;
}

/*div.widget.project div.meter div.graph .minimum .done {
    background-color: #c5da4d;
    height: 10px;
    position: absolute;
    left: 0;
    top: -2px;
}*/
div.widget.project div.meter div.graph .minimum .done,
div.widget.project-support div.meter.ver div.graph .minimum .done {
    background-color: #c5da4d;
    height: 12px;
    max-width: 288px;
    position: absolute;
    left: 0;
    top: 0;
}
div.widget.project div.meter div.graph .minimum {
    /*background-color: #dc940f;*/
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
div.widget.project div.meter.hor div.graph .minimum .done {
    max-width: 215px;
}

div.widget.project div.meter div.graph .minimum .done strong {
    background: url("project/marker.png") no-repeat;
    display: block;
    height: 16px;
    line-height: 2000px;
    margin-right: -10px;
    margin-top: -4px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: 2000px;
    width: 17px;
}

div.widget.project div.meter div.graph .minimum .left {
    float: right;
    height: 19px;
    /*border-right: 4px solid #dc940f;*/
    margin-right: -2px;
    margin-top: -6px;
}

div.widget.project div.meter div.graph .optimum {
    /*border-right: 4px solid #BCCCD8;*/
    height: 19px;
    margin-right: -2px;
    position: absolute;
    right: 0;
    margin-top: -6px;
}


div.widget.project div.meter div.graph .minimum .left,
div.widget.project-support div.graph .minimum .left {
    float: right;
    height: 19px;
    margin-right: -2px;
    margin-top: -6px;
}

div.widget.project div.meter div.graph,
div.widget.project-support div.graph {
    background-color: #BCCCD8;
    height: 12px;
    margin: 56px 0 0;
    position: relative;
}
div.widget.project div.meter div.graph .minimum,
div.widget.project-support div.graph > div.minimum {
    background-color: #dc940f;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

div.widget.project div.meter dl {
    margin: -10px 40px 0 0;
    position: relative;
}


/* .meter.active */
div.widget.project div.meter.activable.active {
    background-color: #EBEAEB;
}


div.widget.project div.meter dl .days {
    position: absolute;
    border-top: 1px solid #d1d3d4;
    top: 90px;
    padding: .8em 0;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: bold;
}
div.widget.project div.meter.active dl .days {
    top: 16px;
}

div.widget.project div.meter dl .minimum>* {
    display: block;
    width: 96px;
    position: absolute;
    right: 0;
    /*margin-right: -30px;*/
}

div.widget.project div.meter dl span {
    width: 16px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -1px;
}

/*
body.discover div.widget.project div.meter dl dd.minimum {
    text-align: right;
}*/

div.widget.project div.meter dl dt.minimum {
    position: absolute;
    top: -36px;
}
